body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color: blue;
}
.text-small {
     font-size: 100%;
     color: red;
}
.text-head {
     font-size: 200%;
     color: #ffffff;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

